.switch {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(39, 38, 38);
    position: relative;
  }

.flicker {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 5px;
    left: 5px;
    transition: 0.3s;
    box-shadow:
      inset 4px 4px 4px rgb(255,255,255),
      inset -4px -4px 4px rgb(195 193 198 / 90%);
  }

.red-bg {
    color: red;
}

.green-bg {
    color: green;
}

.blue-bg {
    color: blue;
}

.dark {
    background-color: rgb(57, 57, 57);
    transition: 0.3s;

  }

.moon {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
    position: absolute;
    top: 5px;
    left: 45px;
  }

.dark .flicker {
    transform: translateX(40px);
  }

.dark > * {
    color: rgb(255, 255, 255);
  }

/*@media only screen and (min-width: 970px) {
  html {
    width: 50%;
  }

  @media only screen and (max-width: 1300px) {
    html {
      display: none;
    }
  }*/