<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
<div class="container">
    <nav th:replace="fragments :: header"></nav>
</div>

<div class="container body-content">
    <h1 class="centered" th:text="${task.name}">Task Title</h1>
    <ol type="circle" class="list-group">
        <li class="list-group-item list-group-item-dark">
            <span>Task ID: </span>
            <span th:text="${task.id}">123</span>
        </li>
        <li class="list-group-item"><span>Details: </span><span th:text="${task.description}">asdfadf</span></li>
        <li class="list-group-item"><span>Start Date: </span><span th:text="${task.startDate}">2023-08-01</span></li>
        <li class="list-group-item"><span>Due Date: </span><span th:text="${task.dueDate}">2023-08-31</span></li>

        <th:block th:switch="${task.taskProgressEnum}" class="list-group-item">
            <li th:case="${T(org.launchcode.liftoffgroupproject.models.TaskProgressEnum).TODO}" class="list-group-item list-group-item-primary">
                <span>Status: </span>
                <span th:text="${task.taskProgressEnum.getDisplayStatus()}">To Do</span>
            </li>

            <li th:case="${T(org.launchcode.liftoffgroupproject.models.TaskProgressEnum).INPROGRESS}" class="list-group-item list-group-item-secondary">
                <span>Status: </span>
                <span th:text="${task.taskProgressEnum.getDisplayStatus()}">In Progress</span>
            </li>

            <li th:case="${T(org.launchcode.liftoffgroupproject.models.TaskProgressEnum).COMPLETED}" class="list-group-item list-group-item-success">
                <span>Status: </span>
                <span th:text="${task.taskProgressEnum.getDisplayStatus()}">Completed</span>
            </li>

        </th:block>

    </ol>
</div>

</body>
</html>