<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
</head>

<body class="container body-content">
<nav th:replace="fragments :: header"></nav>
<br>
<h1>Zen</h1>
<div class="container">
    <div class="row">
        <section>
            <p>Zen was created for you to discover tranquility and efficiency in your daily tasks.
                Experience a serene way to manage your to-dos, effortlessly track their progress, and effortlessly prioritize what matters most.
                Embrace a journey of heightened productivity and harmony as you navigate your tasks in a state of Zen-like clarity.
                Elevate your task management and unlock a world of calm accomplishment with Zen.</p>
        </section>
    </div>
</div>
<br>

<h2>About Us</h2>
<br>
<div class="card-container">
    <div class="card" style="width: 18rem;">
        <img src="https://ca.slack-edge.com/T04F99U6LV8-U04J779J2L8-7727dee0d74b-512" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Kim Hammond</h5>
            <p><a href="https://github.com/kimsunhammond">https://github.com/kimsunhammond</a></p>
            <br>
            <p>Features worked on:</p>
            <ul>
                <li>Task Details page</li>
                <li>Drop-down Status Selector</li>
                <li>About Zen</li>
            </ul>
            <br>
            <p>This is my first time coding, and I am happy to have completed this project!</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card name 2</h5>
            <p><a href="https://www.w3schools.com/">Visit W3Schools.com!</a></p>
            <br>
            <p>Features worked on:</p>
            <ul>
                <li>Task Details page</li>
                <li>Drop-down Status list: to do, in progress, completed</li>
                <li>About Zen information page</li>
            </ul>
            <br>
            <p>About: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card name 3</h5>
            <p><a href="https://www.w3schools.com/">git hub link</a></p>
            <br>
            <p>Features worked on:</p>
            <ul>
                <li>Task Details page</li>
                <li>Drop-down Status list: to do, in progress, completed</li>
                <li>About Zen information page</li>
            </ul>
            <br>
            <p>About: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
</div>
<br>

<br>
<div class="card-container">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card name 4</h5>
            <p><a href="https://www.w3schools.com/">Visit W3Schools.com!</a></p>
            <br>
            <p>Features worked on:</p>
            <ul>
                <li>Task Details page</li>
                <li>Drop-down Status list: to do, in progress, completed</li>
                <li>About Zen information page</li>
            </ul>
            <br>
            <p>About: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Kim Hammond</h5>
            <p><a href="https://github.com/kimsunhammond">https://github.com/kimsunhammond</a></p>
            <br>
            <p>Features worked on:</p>
            <ul>
                <li>Task Details page</li>
                <li>Drop-down Status list: to do, in progress, completed</li>
                <li>About Zen information page</li>
            </ul>
            <br>
            <p>This is my first time coding, and I am happy to have completed this project!</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Chris Reams</h5>
            <p><a href="https://www.w3schools.com/">Visit W3Schools.com!</a></p>
            <br>
            <p>Features worked on:</p>
            <ul>
                <li>Task Details page</li>
                <li>Drop-down Status list: to do, in progress, completed</li>
                <li>About Zen information page</li>
            </ul>
            <br>
            <p>About: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>

</div>
</body>
</html>
