<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
</head>

<body class="container body-content">
<nav th:replace="fragments :: header"></nav>
<br>
<h1>Zen</h1>
<div class="container">
    <div class="row">
        <section>
            <p>Zen was created for you to discover tranquility and efficiency in your daily tasks.
                Experience a serene way to manage your to-dos, effortlessly track their progress, and effortlessly prioritize what matters most.
                Embrace a journey of heightened productivity and harmony as you navigate your tasks in a state of Zen-like clarity.
                Elevate your task management and unlock a world of calm accomplishment with Zen.</p>
        </section>
    </div>
</div>
<br>

<h2>About Us</h2>
<br>
<div class="card-container">
    <div class="card" style="width: 18rem;">
        <img src="https://ca.slack-edge.com/T04F99U6LV8-U04J779J2L8-7727dee0d74b-512" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Kim Hammond</h5>
            <p><a href="https://github.com/kimsunhammond">https://github.com/kimsunhammond</a></p>
            <br>
            <p>Features worked on:</p>
            <ul>
                <li>Task View page</li>
                <li>Drop-down Status Selector</li>
                <li>About Zen page</li>
            </ul>
            <br>
            <p>This is my first time coding, and I am happy to have completed this project!</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://ca.slack-edge.com/T04F99U6LV8-U04HHCTHWDR-681b39390c19-512" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Ally Lynch</h5>
            <p><a href="https://github.com/allybreeden">https://github.com/allybreeden</a></p>
            <br>
            <p>Features worked on:</p>
            <ul>
                <li>Home page</li>
                <li>Navigation Bar</li>
                <li>Update/Edit Task</li>
                <li>User Profile page</li>
            </ul>
            <br>
            <p>“Technology is best when it brings people together.”
                -Matt Mullenweg</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://avatars.githubusercontent.com/u/105828543?v=4" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Victoria Morris</h5>
            <p><a href="https://github.com/heyimvictoria">https://github.com/heyimvictoria</a></p>
            <br>
            <p>Features worked on:</p>
            <ul>
                <li>Light and Dark Mode</li>
                <li>Add and Delete Task</li>
                <li>Date Picker</li>
            </ul>
            <br>
            <p>About: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
</div>
    <br>
    <br>
<div class="card-container">
    <div class="card" style="width: 18rem;">
        <img src="https://media.licdn.com/dms/image/C5603AQEhuQx2R4oz-A/profile-displayphoto-shrink_400_400/0/1651105642834?e=1697673600&v=beta&t=g2c8Uy2_-OD1WHXYNMxPYzlBeLfVaBIfnaXIyLeTO4k" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Shelvy Murphy-Brown</h5>
            <p><a href="https://github.com/shelvy00">https://github.com/shelvy00</a></p>
            <br>
            <p>Features worked on:</p>
            <ul>
                <li>Task List page</li>
                <li>Automated Email Reminder</li>
                <li></li>
            </ul>
            <br>
            <p>Learning new skills in tech takes drive and tenacity. Always challenge yourself to expand your knowledge.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://ca.slack-edge.com/T04F99U6LV8-U04HEHX8F45-c26a288ccfec-512" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jesus Sanchez</h5>
            <p><a href="https://github.com/usersjesus">https://github.com/usersjesus</a></p>
            <br>
            <p>Features worked on:</p>
            <ul>
                <li>MySQL Database</li>
                <li>Login page</li>
                <li>Search Bar</li>
            </ul>
            <br>
            <p>About: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://ca.slack-edge.com/T04F99U6LV8-U04Q1L6JJTZ-3d3981b1f2b2-512" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Chris Reams</h5>
            <p><a href="https://github.com/chrisreams91">https://github.com/chrisreams91</a></p>
            <br>
            <p>Our fearless T.A.!</p>
            <ul>
                <li>Led the team in their first project</li>
                <li>Helped with any technical problems</li>
                <li>Demonstrated the project management process</li>
            </ul>
            <br>
            <p>About: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>

</div>
</body>
</html>
