<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">

</head>
<body class="container body-content">
<nav th:replace="fragments :: header"></nav>
<h1>Add Task</h1>
<form method="post">git
<!--    <div class="form-group">-->
<!--        <label th:for="title">Name</label>-->
<!--        <input class="form-control" th:field="${title}" />-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label th:for="date">Start Date</label>-->
<!--        <input class="form-control" type="date" th:field="*{date}" />-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label th:for="description">Description</label>-->
<!--        <input class="form-control" th:field="*{description}" />-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label th:for="date">Due Date</label>-->
<!--        <input class="form-control" type="date" th:field="*{date}" />-->
<!--    </div>-->
<!--    <button type="submit" class="btn btn-primary">Create Task</button>-->
</form>
</body>
</html>