<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>
        <div class="container">
            <h1>Zen</h1>
            <nav th:replace="fragments :: header"></nav>

            <div class="btn-group-vertical btn-group-lg">
                <a class="btn btn-primary" href="list" role="button">Tasks</a>
                <a class="btn btn-danger" href="" role="button">Problems</a>
                <a class="btn btn-secondary" href="" role="button">Doing</a>
                <a class="btn btn-success" href="" role="button">Done</a>
            </div>
        </div>
    </body>
</html>