<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
      <nav th:replace="fragments :: header"></nav>
      <table class="table">
          <thead class="thead-dark">
          <tr>
              <th scope="col">Name:</th>
              <th scope="col">Description:</th>
              <th scope="col">Start Date:</th>
              <th scope="col">Due Date:</th>
              <th scope="col">Actions:</th>
              <th scope="col">Status:</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="task: ${tasks}">
              <th scope="row"><a th:href="'/task/taskDetails?taskId=' + ${task.id}" th:text="${task.name}"></a></th>
              <td th:text="${task.description}">description</td>
              <td th:text="${task.startDate}" >07/10/23</td>
              <td th:text="${task.dueDate}">07/14/23</td>
              <td th:text="${task.taskProgressEnum}">progress</td>
              <td>
<!--                  <a th:href="@{/edit/{id}(id=${task.id})}">Edit</a>-->
<!--                  <a th:href="@{/delete/{id}(id=${task.id})}">Delete</a>-->

                  <form th:action="@{/edit}" method="get">
                      <input type="hidden" name="taskId" th:value="${task.id}" />
                      <button type="submit" class="btn btn-primary">Edit</button>
                  </form>


                  <a th:href="@{/edit/{id}(id=${task.id})}">Edit</a>
                  <a th:href="@{/delete/{id}(id=${task.id})}">Delete</a>

              </td>
          </tr>
          </tbody>
      </table>
  </div>
</body>
</html>