<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
      <nav th:replace="fragments :: header"></nav>
      <table class="table">
          <thead class="thead-dark">
          <tr>
              <th scope="col">Name:</th>
              <th scope="col">Description</th>
              <th scope="col">StartDate:</th>
              <th scope="col">DueDate:</th>
              <th scope="col">Actions:</th>
              <th scope="col">Notification</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="task: ${tasks}">
              <th th:text="${task.name}" scope="row">name</th>
              <td th:text="${task.description}">description</td>
              <td th:text="${task.startDate}" >07/10/23</td>
              <td th:text="${task.dueDate}">07/14/23</td>
              <td>
                  <a th:href="@{/edit/{id}(id=${task.id})}">Edit</a>
              </td>
              <td>
                  <form method="post" action="/list/email"><button type="submit" class="btn btn-primary">Notify</button></form>
              </td>
          </tr>
          </tbody>
      </table>
  </div>
</body>
</html>