<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
</head>
    <body>
    <nav th:replace="fragments :: header"></nav>
<h1>User Profile</h1>
    <hr>
    <div class="media">
        <img class="align-self-start mr-3" th:src="@{/images/user.png}" alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="mt-0">Welcome Back</h5>
            <p th:text="${user.firstName}">Name</p>
            <p th:text="${user.username}">Username</p>
<!--            email-->
<!--p            <p th:text="${user.email}">Email</p>-->


            <ul class="list-group">
<!--                <li class="list-group-item" th:each="user :${users}" th:text="${user}"></li>-->
                <li class="list-group-item list-group-item-primary" th:each="user :${users}" th:text="${user.firstName}"></li>
                <li class="list-group-item list-group-item-success" th:each="user :${users}" th:text="${user.username}"></li>
            </ul>

            <br>
            <p> You are doing a great job completing your tasks!</p>
<!--            if time allows add this:-->
<!--            <p>You have 13 pending tasks</p>-->
            <a class="btn btn-dark" href="/list" role="button">View All Tasks</a>
            <hr>
        </div>
    </div>
    <h3> Task Summary:</h3>
<!--    list of task names here -->
    <ul class="list-group list-group-flush">
        <li class="list-group-item" th:each="task :${tasks}" th:text="${task}"></li>
    </ul>
    <br>
    </body>
</html>